
{{#if hoodieAccount.isSignedIn}}
  U're <strong>{{hoodieAccount.username}}</strong>...
  <button {{action 'signOut'}}>sign out</button>
{{else}}
  {{input value=username}}<br/>
  {{input value=password type='password' enter='signIn'}}<br/>
  <button {{action 'signIn'}}>sign in</button>
  <button {{action 'signUp'}}>sign up</button>
{{/if}}
<br/><br/>

<h1>your conversations</h1>
{{#each model as |doc|}}
  <li>
    {{link-to doc.name 'conversation' doc.id }}
  </li>
{{/each}}

{{input value=name enter='createNewConversation' }}
<button {{action 'createNewConversation'}}>Create</button>